<mat-toolbar color="warn" class="app-header">
  <div><a target="_blank" class="positronx center">SecIoT</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
<div class="main-wrapper main-div" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
      </mat-card-header>
      <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="primary" class="btn-block" [disabled]="username.invalid || password.invalid">Log in</button>
        <mat-error *ngIf="incorrectDetails">Incorrect username/password</mat-error>
      </form>
      <br>
      <hr>
      <mat-card-subtitle>New here? <a routerLink="/register">Sign Up</a></mat-card-subtitle>
    </mat-card>
  </div>