#frontpage {
    margin: 0;
    /* background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;    */
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../../assets/background.png");
	background-repeat: no-repeat; 
	background-size: cover;
}

.frontpage-button{
    width: 225px !important;
    font-size:20px !important;
}

.frontpage-button {
    margin: 30px;
    width: 150px;
    min-width: unset;
}