<mat-toolbar color="warn" class="app-header">
  <div><a target="_blank" class="positronx center">SecIoT</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
<div class="main-wrapper main-div" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="example-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Adress" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Retype Password" (input)="SamePassword()" [formControl]="repassword" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="repassword.invalid">{{getErrorMessage(repassword)}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-stroked-button color="primary" class="btn-block" [disabled]="username.invalid || email.invalid || password.invalid || repassword.invalid">Register</button>
    </form>
    <br>
    <mat-card-subtitle>Have an account? <a routerLink="/login">Login</a></mat-card-subtitle>
  </mat-card>
</div>